body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
}

button[class^="btn_up"] > img{
    transform: rotate(180deg);
   
}
button[class^="btn_up"]{
    transform: rotate(180deg);
    z-index: 20;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
}

button[class^="btn_down"]{
    z-index: 20;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}


.slider{
    margin: auto;
    width: 80%;
    height: 450px;
    position: relative;  
    margin-top: 3rem ;
}

.img_container > img{
    object-fit: cover;
    width: 100%;
    height: 450px;
    object-position: center;
    border-radius: 30px;
    border: 10px solid brown; 
    box-shadow: 2px 5px 10px black;
}